<div class="main-body">
  <div class="container">
    <div id="vide-dressing-item-container">
      <div class="item-main-picture">
        <%= cl_image_tag @item.photos[0].path %>
      </div>
      <div class="item-infos-container">
        <div class="item-other-pictures">
          <% if @item.photos.size > 1 %>
            <% @item.photos[1..@item.photos.length-1].each do |photo| %>
              <%= cl_image_tag photo.path %>
            <% end %>
          <% end %>
        </div>
        <div class="item-infos">
          <h2><%= @item.name %></h2>
          <p><%= @item.category %></p>
        </div>
      </div>
    </div>
  </div>
</div>
