// Ecrire ici mes variables

// colors
$b-yellow: #FCC314;
$b-orange-light: #FFD480;
$b-orange-dark: #FCA180;
$b-red: #F56262;

$b-blue-dark: #01567B;
$b-blue-light: #F6F6F6;

$b-text-grey: #626262;

// new colors
$b-orange: #bb8462;
$b-green: #0a402b;
$b-bg-grey: #EBEBE8;
$b-olive: #b6bea8;
