// Ecrire ici mes variables

// colors
$b-yellow: #FCC314;
$b-orange-light: #FFD480;
$b-orange-dark: #FCA180;


$b-blue-dark: #01567B;
$b-blue-light: #F6F6F6;

$b-text-grey: #626262;

// new colors
$b-orange: #bb8462;
$b-green: #0a402b;

$b-olive: #b6bea8;
$b-beige: #F7F1EC;


// nouveau
$b-blue: #16174f; // rgb(22, 23, 79)
$b-dark-blue: #000027;
$b-light-blue: #453D7C;
$b-red: #963019; // rgb(150, 48, 25)
$b-bg-grey: #E1E2E1;
$b-bg-grey-light: #f5f5f6;
// textes
$b-primary-text: white;
$b-secondary-text: white;


// pour info : voici les media query ranges de materialize
// $small-screen-up: 601px !default;
// $medium-screen-up: 993px !default;
// $large-screen-up: 1201px !default;
// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;
