<div class="main-body">
  <!-- Sous-navigation -->
  <div class="sub-nav">
    <div class="sub-nav-container">
      <div class="sub-nav-menu">
        <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="sub-nav-item">Les vide-dressings publics</span>
      </div>
    </div>
  </div>
  <!-- Sous-navigation -->
  <div class="container">
    <div class="vide-dressings-container">
      <% @vide_dressings.each do |vide_dressing| %>
        <% bg = ["dressing1_k4v8xj.jpg", "dressing_homme_fujdl0.jpg", "dressing2_n97toz.jpg"].sample %>
        <div class="vide-dressing-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path bg, height: 300, width: 400, crop: :fill %>')">
          <div class="card-description">
            <h2><%= vide_dressing.name %></h2>
            <p>En cours</p>
          </div>
          <%= link_to "", user_vide_dressing_path(vide_dressing.user, vide_dressing), class: "card-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
