// NEW DASHBOARD
.dashboard-container {
  display: flex;
}
.dashboard-content-right {
  flex: 1 1 auto;
}
.content-header {
  background-color: $b-bg-beige-grey;
  padding: 1.5em 0;
  &.underlined {
    border-bottom: 1px solid $b-bg-blue-grey;
  }
}
.dashboard-content-header {
  padding: 1.5em 3.125em;
}

// CONTENU PROFIL
#tab-monprofil .user-form-container {
  margin-top: 3.125em;
}
#tab-monprofil .user-form {
  flex: 0 0 50%;
  label {
    display: block !important;
    top: 0;
  }
  .select-wrapper + label {
    top: -2em;
  }
  .select-wrapper {
    height: 100%;
  }
  .input-field {
    margin-top: 2.5em;
  }
}

// CONTENU RESEAU
.network-content {
  padding: 3.125em 3.125em;
}

// CARDS
.dashboard-links-card {
  flex: 0 0 33%;
  background-color: $b-bg-blue-grey;
  padding: 1.5em 2em;
  min-height: 250px;
  margin-bottom: 3.125em;
  color: rgba(0,0,0,0.87);
  border-top: 4px solid $secondary-color;
  a {
    color: rgba(0,0,0,0.87);
  }
  p {
    margin: 0;
  }
}

// TAB DEMANDES
.search-image {
  width: 60px;
  height: auto;
}
