#dashboard-introduction-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboard-introduction-item {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-introduction-icon {
  background-color: $b-orange;
  padding: 1rem 2rem;
  border-radius: 50px;
  display: inline-block;
  color: white;
}
#dashboard-cards-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.dashboard-card {
  flex: 0 0 48%;
  background-color: white;
  padding: 3.125rem;
  border-radius: 2px;
  h2 {
    font-size: 1.3125rem;
    margin-bottom: 1.25rem;
  }
  .dashboard-infos-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
