#add-item-container {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  padding: 3.125rem;
}
#new-vide-dressing-form {
  width: 350px;
}
#picture-one-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#add-pictures-container {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  padding: 3.125rem;
}
#pictures-dropzone {
  width: 1000px;
}
.form-inputs-container {
  width: 350px;
}
