#add-item-container {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  padding: 3.125rem;
  @media (max-width: $small-screen) {
    width: 100%;
  }
}
#new-vide-dressing-form {
  width: 350px;
  @media (max-width: $small-screen) {
    width: 175px;
  }
}
#picture-one-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#add-pictures-container {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  padding: 3.125rem;
}
#pictures-dropzone {
  width: 1000px;
  @media (max-width: $small-screen) {
    width: 100%;
  }
}
.form-inputs-container {
  width: 350px;
  @media (max-width: $small-screen) {
    width: 175px;
  }
}
