#add-item-container {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}
#new-vide-dressing-form {
  width: 350px;
}
#picture-one-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
