<div class="main-body">
  <div class="page-sub-header">
    <div class="container">
      <!-- Subnavigation -->
      <div class="page-nav">
        <div class="page-nav-menu">
          <div class="page-nav-menu-links">
            <p class="inline first-nav-element"><%= link_to 'Accueil', root_path %></p>
            <i class="fa fa-chevron-right inline" aria-hidden="true"></i>
            <p class="inline first-nav-element"><%= link_to 'Mon compte', dashboard_user_path(current_user) %></p>
            <i class="fa fa-chevron-right inline" aria-hidden="true"></i>
            <p class="inline">Mon panier</p>
          </div>
        </div>
      </div>
      <!-- Subnavigation -->
    </div>
  </div>
  <div class="bg-grey">
    <div class="b-section">
      <div class="container last-container">
        <%= render "shopping_carts/cart" %>
      </div>
    </div>
  </div>
  <div class="page-sub-header">
    <div class="container">
      <!-- Subnavigation -->
      <div class="page-nav">
        <div class="page-nav-menu">
          <div class="page-nav-menu-links">
            <p class="inline first-nav-element">Mes emprunts</p>
          </div>
        </div>
      </div>
      <!-- Subnavigation -->
    </div>
  </div>
  <div class="bg-grey">
    <div class="b-section">
      <div class="container last-container">
        <%= render "shopping_carts/loan" %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('ul.loan-tabs').tabs();
    });
  </script>
<% end %>
