<div class="main">
  <div class="page-title-small bg-grey">
    <div class="container">
      <h1>All outfits</h1>
    </div>
  </div>
  <div class="container">
    <div class="padded">
      <div class="row">
        <% @outfits.each do |outfit| %>
          <%= render 'shared/outfit_card', outfit: outfit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
