<div class="container">
  <h1>Page index des users</h1>

  <p>Display de tous les users et possibilité de les ajouter</p>

  <% for user in @users %>
    <div class="user">
      <p>
        <strong><%=h user.email %></strong>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
        <div class="clear"></div>
      </p>
    </div>
  <% end %>
</div>
