<div class="main">
  <div class="page-title-small bg-grey">
    <div class="container">
      <h1>All users</h1>
    </div>
  </div>
  <div class="container">
    <div class="padded">
      <div class="row">
        <% for user in @users %>
          <div class="col s12 l3">
            <div class="user-card">
              <% avatar_url = user.facebook_picture_url || image_path('fake-avatar.jpg') %>
              <%= image_tag(avatar_url, class: 'user-card-picture') %> <br>
              <% if user == current_user %>
                <strong>Me</strong>
              <% else %>
                <strong><%=h user.email %></strong>
              <% end %>
              <br>
              <% if user == current_user %>
                <span><%= user.email %></span>
              <% else %>
                <% if current_user.all_friends_ids.include?(user.id) %>
                  <i class="fa fa-check-square-o" aria-hidden="true"></i> Friend
                <% else %>
                  <%= link_to "Send invitation", friendships_path(:friend_id => user), :method => :post %>
                <% end %>
              <% end %>
              <div class="clear"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
