<div class="main-body">
  <div class="page-title bg-grey">
    <div class="container">
      <% avatar_url = @user.facebook_picture_url || image_path('fake-avatar.jpg') %>
      <%= image_tag(avatar_url, class: 'rounded small-avatar') %>
      <h1><%= @user.first_name %></h1>
    </div>
  </div>
  <div class="container">
  </div>
</div>
