<div id="footer-wrapper" class="hide-on-small-only">
  <div id="footer">
    <div class="footer-infos text-center">
      <div class="footer-first-line">
        <p>Mentions légales</p>
        <p>Contact</p>
      </div>
      <div class="footer-copyright">copyright 2017 - Julie Pierre</div>
    </div>
  </div>
</div>
