<h5>Friend requests</h5>
  <% if friendship_requests.size == 0 %>
    <p>You don't have any friend request</p>
  <% else %>
    <ul>
      <% for friendship in friendship_requests %>
      <% friend = User.find(friendship.user_id) %>
      <div class="user">
        <p>
          <strong><%=h friend.email %></strong>
          <%= link_to "Accept friend request", friendship_path(:friendship_id => friendship.id, :friend_id => friend), :method => :patch, remote: true, class: 'accept-friend-request', "data-id" => friendship.id %>
          <div id="friendship-status-display-<%= friendship.id %>">
            <%= render 'friendships/friendship_status_display', friendship: friendship %>
          </div>
        </p>
      </div>
      <% end %>
    </ul>
  <% end %>
