<div class="tab-content-container">
  <div class="user-profile">
    <div class="user-picture">
      <div class="subtitle"><h2>Mon profil</h2></div>
      <% avatar_url = user.facebook_picture_url || image_path('fake-avatar.jpg') %>
      <%= image_tag(avatar_url, class: 'rounded') %>
    </div>
    <div class="user-infos">
      <%= user.email %>
    </div>
    <div class="user-links">
      <p><%= link_to "Find Friends", users_path %></p>
    </div>
  </div>
</div>
