<div class="tab-content-container">
  <div class="row">
    <% user_outfits.each do |outfit| %>
      <%= render 'shared/outfit_card', outfit: outfit, picture: outfit.photo %>
    <% end %>
  </div>
</div>
