<div class="tab-content-container">
  <div class="friends-display-container">
    <div class="friends-display-header bg-grey clearfix">
      <h5 class="friends-display-title left">Friends</h5>
      <div class="friends-display-header-buttons right">
        <div class="btn highlight-btn" id="friend-request-button">Requests</div>
        <%= link_to 'Find friends', users_path, class: 'btn highlight-btn' %>
      </div>
    </div>
    <div class="friends-display-content hidden" id="friend-request-content">
      <%= render 'shared/friend-requests-display', friendship_requests: friendship_requests %>
    </div>
    <div class="friends-display-content">
      <%= render 'shared/friends-display', accepted_friends: accepted_friends, friend_invitations: friend_invitations %>
    </div>
  </div>
</div>
