<div class="tab-content-container">
  <div class="row">
    <% user_dressing_items.each do |outfit| %>
      <%= render 'shared/dressing-item-card', outfit: outfit, picture: outfit.photo %>
    <% end %>
  </div>
</div>
