<div class="main-body">
  <div class="section">
    <h1>Les nouveautés</h1>
    <div class="row">
      <% @dressing_items.each do |dressing_item| %>
        <%= dressing_item.category %>
      <% end %>
    </div>
  </div>
</div>
