nav {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: white;
  height: 3.125rem;
  line-height: 1.5;
  text-align: center;
  box-shadow: none;
  .nav-wrapper {
    padding: 0;
  }
  ul li a {
    text-transform: uppercase;
    letter-spacing: .24em;
    font-size: .75rem;
    font-weight: 700;
    color: $b-green;
    display: inline-block;
    padding: 1.375em 1.25rem 1.29688em;
    &:hover {
      background-color: transparent;
      color: $b-olive;
    }
  }
}
#navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
// Dropdown
#dropdown-navbar {
  li {
    min-height: initial;
    line-height: 1rem;
    a {
    font-size: 12px;
    line-height: 12px;
    }
  }
}

// Navigation mobile
#sidenav-overlay {
  background-color: transparent;
}
.side-nav li > a.btn, .side-nav li > a.btn-large, .side-nav li > a.btn-large, .side-nav li > a.btn-floating {
  color: #000;
}
