nav {
  background-color: white;
  .nav-wrapper {
    padding: 0 4rem;
  }
  ul a {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
      background-color: rgba(252, 161, 128, 0.5);
    }
  }
  .brand-logo {
    color: black;
  }
}
