nav {
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: white;
  .nav-wrapper {
    padding: 0;
  }
  ul a {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
      background-color: rgba(1, 86, 123, 0.5);
    }
  }
  a {
    color: #000;
  }
  .brand-logo {
    color: black;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.1rem;
    @media (max-width: 320px) {
      font-size: 15px;
    }
  }
}

// Navigation mobile
#sidenav-overlay {
  background-color: transparent;
}
.side-nav li > a.btn, .side-nav li > a.btn-large, .side-nav li > a.btn-large, .side-nav li > a.btn-floating {
  color: #000;
}
