/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Polices
body {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: $b-green;
}

h1, h2, h5, {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
h3, h4 {
  margin: 0;
  padding: 0;
}
h1 {
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-weight: 400;
  font-size: 1.875rem;
}
// identique au h1 mais sans le nom pour le ref
h2 {
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: 1.875rem;
}
h3 {
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
  font-size: 1.3125rem;
}
// sous-titres oranges
h5 {
  font-weight: 400;
  line-height: 2.3;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .24em;
  font-size: .75rem;
  color: $b-orange;
  background-image: -webkit-linear-gradient(top,#d5b096,#97461a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// légendes vertes
h4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: .875rem;
}
p {
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 1.25rem;
  font-size: .875rem;
  line-height: 1.6;
}

a {
  color: $b-green;
  text-decoration: none;
  cursor: pointer;
  transition: color .25s ease,opacity .25s ease,border .25s ease;
  &:hover {
    outline: none;
  }
}

// Containers
.main-body {
  margin-top: 3.125rem;
  border-left: 3.125rem solid #fff;
  border-right: 3.125rem solid #fff;
  &:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    width: 100%;
    height: 3.125rem;
    background-color: #fff;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}
.small-container {
    width: 150px;
}
.last-container {
  margin-bottom: 5rem;
}
.relative {
  position: relative;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

//flexbox
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center-align {
  text-align: center;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: $b-bg-grey;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Width & Height
.full-height {
  height: 100%;
}
.full-screen {
  height: calc(100vh - 64px);
}

// Cards
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.rounded {
  border-radius: 50px;
}

.hidden {
  display: none;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.text-center {
  text-align: center;
}
