<div class="prop-card flexbox space-between">
  <div class="item-picture">
    <% unless proposal.proposal_pictures.size == 0 %>
      <%= cl_image_tag(proposal.proposal_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
    <% end %>
  </div>
  <div class="item-infos">
    <h2><%= proposal.name %></h2>
    <p><%= proposal.description %></p>
  </div>
</div>
