.b-btn {
  margin-bottom: 1.25rem;
  font-family: 'Roboto Mono', monospace;;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  border-radius: 2px;
  font-size: .75rem;
  line-height: 2.4;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .24em;
  text-indent: .24em;
  width: auto;
  min-width: 7.75rem;
  height: 2.5rem;
  line-height: 2.625rem;
  padding: 0 .625rem;
  transition: .25s ease;
  box-shadow: none;
  @media (max-width: $small-screen) {
    font-size: 0.55rem;
    display: block;
  }
}

.b-btn-colored {
  color: $b-secondary-text;
  border: 0;
  background-color: $secondary-color;
  &:hover {
    background-color: rgba(150, 48, 25, 0.5);
    box-shadow: none;
    color: white;
  }
  &:focus {
    background-color: rgba(150, 48, 25, 0.5);
  }
}

.b-btn-transparent{
  color: $secondary-color;
  border: 2px solid $secondary-color;
  background-color: transparent;
  line-height: 2.4rem;
  &:hover {
    background-color: rgba(150, 48, 25, 0.5);
    box-shadow: none;
    color: $b-text-light;
  }
  &:focus {
    background-color: rgba(150, 48, 25, 0.5);
  }
}

.b-btn-underlined {
  text-decoration: underline;
  cursor: pointer;
}

.banner-card-btn {
  margin-bottom: 0;
}

.invite-btn {
  width: 150px;
}
