.b-btn {
  color: $b-green;
  margin-bottom: 1.25rem;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  border: 0;
  border-radius: 2px;
  font-size: .75rem;
  line-height: 2.4;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .24em;
  text-indent: .24em;
  width: auto;
  min-width: 7.75rem;
  height: 2.5rem;
  line-height: 2.625rem;
  padding: 0 .625rem;
  background-color: hsla(82,14%,70%,.5);
  transition: .25s ease;
  box-shadow: none;
  &:hover {
    background-color: $b-olive;
    box-shadow: none;
    color: $b-green;
  }
  &:focus {
    background-color: $b-olive;
  }
}

.banner-card-btn {
  margin-bottom: 0;
}

.invite-btn {
  width: 150px;
}
