// commun à toutes les cards
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  @media (max-width: $small-screen) {
    bottom: 5px;
    left: 20px;
  }
}
.card-description h2 {
  font-size: 1rem;
  color: white;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: white;
  width: 70%;
  display: inline-block;
}
.card-price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  @media (max-width: $small-screen) {
    bottom: 5px;
    right: 20px;
  }
  p {
    font-size: 1.5rem;
    font-style: italic;
  }
  .small-card-price {
    font-size: 1rem;
  }
}
.small-price {
  font-size: 1.5rem;
}
.card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 1rem 3rem 2rem 2rem;
  opacity: 0.8;
  border-bottom-right-radius: 100%;
  h5 {
    font-size: 1rem;
  }
}
.banner-card {
  background-color: white;
  border-radius: 2px;
  position: relative;
  padding: 3.125rem;
  text-align: center;
  h5 {
    margin-bottom: 1rem;
  }
  @media (max-width: $small-screen) {
    margin: 0 4rem 0 4rem;
  }
}

// PRODUCT CARDS
.dressing-item-container {
  margin-right: 2.5em;
  color: $b-text-light;
  margin-bottom: 2.5em;
  p {
    margin-bottom: 0;
  }
  a {
    color: $b-text-light;
  }
}
.dressing-item-card {
  height: 330px;
  width: 260px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
  position: relative;
  background-position: center;
  border: 2px solid rgba(246, 241, 237, 0.5);
}
.item-price {
  font-family: 'Rubik', sans-serif;
}

// LARGE CARDS
.card-large {
  width: 1000px;
  height: 100%;
  position: relative;
  margin-bottom: 2rem;
  .card-large-picture {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
    width: 50%;
    height: 20rem;
    @media (max-width: $small-screen) {
      width: 100%;
      height: 15rem;
    }
  }
  .card-large-infos {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 20rem;
    @media (max-width: $small-screen) {
      width: 100%;
      height: auto;
    }
    .card-large-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 3.125rem;
      width: 100%;
      padding-bottom: 6.25rem;
      height: 23.125rem;
      @media (max-width: $small-screen) {
        height: auto;
        padding: 1rem
      }
      .card-large-text {
        text-align: center;
      }
      .btn-container {
        display: flex;
        justify-content: space-around;
        @media (max-width: $small-screen) {
          display: initial;
        }
      }
      h2 {
        font-size: 1.3125rem;
        margin-bottom: 1.25rem;
        @media (max-width: $small-screen) {
          margin-bottom: 0.25rem;
        }
        p {
          @media (max-width: $small-screen) {
            margin-top: 0.25rem;
            margin-bottom: 0.75rem;
          }
        }
      }
      .b-btn {
        flex: 0 0 15%;
      }
    }
  }
}

// USER CARDS
.user-card {
  background-color: transparent;
  margin: 0 0.75em 1.5em 0.75em;
  // padding: 3.125em 1.5em;
  width: 15em;
  text-align: center;
  position: relative;
  color: rgba(0,0,0,0.87);
  h1 {
    font-size: .75rem;
    margin-top: 0.75rem;
    color: rgba(0,0,0,0.87);
  }
  h5 {
    font-size: .6rem;
    margin-bottom: 0.75rem;
  }
  .user-card-link {
    background: $secondary-color;
    &:hover {
      opacity: 0.2;
    }
  }
}
