// commun à toutes les cards
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  @media (max-width: $small-screen) {
    bottom: 5px;
    left: 20px;
  }
}
.card-description h2 {
  font-size: 1rem;
  color: white;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: white;
  width: 70%;
  display: inline-block;
}
.card-price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  @media (max-width: $small-screen) {
    bottom: 5px;
    right: 20px;
  }
  p {
    font-size: 1.5rem;
    font-style: italic;
  }
  .small-card-price {
    font-size: 1rem;
  }
}
.small-price {
  font-size: 1.5rem;
}
.card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 1rem 3rem 2rem 2rem;
  opacity: 0.8;
  border-bottom-right-radius: 100%;
  h5 {
    font-size: 1rem;
  }
}
.vide-dressing-card-description {
  position: absolute;
  bottom: 15px;
  left: 30px;
  h2 {
    margin-bottom: 0 !important;
    font-size: 24px;
    color: white;
  }
}
.vide-dressing-card-icons {
  position: absolute;
  top: 15px;
  right: 30px;
  display: flex;
}
.vide-dressing-card-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  justify-content: space-around;
  img {
    height: 2rem;
  }
  h2 {
    color: white;
    margin-bottom: 0;
    font-size: 1rem;
  }
  i {
    font-size: 2.5rem;
    line-height: 2rem;
    color: white;
  }
}
//

.banner-card {
  background-color: white;
  border-radius: 2px;
  position: relative;
  padding: 3.125rem;
  text-align: center;
  h5 {
    margin-bottom: 1rem;
  }
  @media (max-width: $small-screen) {
    margin: 0 4rem 0 4rem;
  }
}
// vide-dressing items
.card-large {
  width: 1000px;
  height: 100%;
  position: relative;
  margin-bottom: 2rem;
  .card-large-picture {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
    width: 50%;
    height: 20rem;
    @media (max-width: $small-screen) {
      width: 100%;
      height: 15rem;
    }
  }
  .card-large-infos {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 20rem;
    @media (max-width: $small-screen) {
      width: 100%;
      height: auto;
    }
    .card-large-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 3.125rem;
      width: 100%;
      padding-bottom: 6.25rem;
      height: 23.125rem;
      @media (max-width: $small-screen) {
        height: auto;
        padding: 1rem
      }
      .card-large-text {
        text-align: center;
      }
      .btn-container {
        display: flex;
        justify-content: space-around;
      }
      h2 {
        font-size: 1.3125rem;
        margin-bottom: 1.25rem;
        @media (max-width: $small-screen) {
          margin-bottom: 0.25rem;
        }
        p {
          @media (max-width: $small-screen) {
            margin-top: 0.25rem;
            margin-bottom: 0.75rem;
          }
        }
      }
      .b-btn {
        flex: 0 0 15%;
      }
    }
  }
}
