#vide-dressing-elements-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.vide-dressing-item-card-container {
  flex: 0 0 25%;
  padding-right: 1rem;
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
    padding: 0;
  }
}
#vide-dressing-elements-container .vide-dressing-item-card-container:last-child {
  padding-right: 0;
}

.vide-dressing-item-card {
  margin-bottom: 1.325rem;
  height: 350px;
  width: 100%;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vide-dressing-item-card-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  h2 {
    color: white;
    margin-bottom: 0;
    font-size: 1rem;
    text-align: center;
    line-height: 1;
  }
  i {
    font-size: 2rem;
    line-height: 1;
    color: $secondary-color;
  }
}
.add-item-card {
  background-color: $b-blue-light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  width: auto;
  i {
    font-size: 3rem;
  }
}

#item-pictures-container {
  flex: 0 0 60%;
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
}
#item-lonely-picture-container {
  flex: 0 0 50%;
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
}
.item-main-picture {
  flex: 0 0 60%;
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
    height: auto;
    @media (max-width: $small-screen) {
      width: 100%;
      height: 100%;
    }
  }
}
.item-other-pictures {
  flex: 0 0 38%;
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
    margin-bottom: 3.125rem;
  }
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    @media (max-width: $small-screen) {
      width: 100%;
      height: initial;
    }
  }
}
.item-infos-container {
  flex: 1 0 50%;
  padding-left: 4%;
  color: rgba(0,0,0,0.87);
  a {
    color: rgba(0,0,0,0.87);
  }
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
  .item-infos {
    padding-top: 0.125em;
    h2 {
      font-size: 3em;
    }
    .item-price {
      font-size: 1.5em;
    }
    .fa {
      font-size: 2em;
    }
  }
  .item-complementary-infos {
    margin-top: 0.625em;
    border-top: 1px solid rgba(0,0,0,0.57);
    border-bottom: 1px solid rgba(0,0,0,0.57);
    padding: 1em 0;
  }
}
.dressing-picture {
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  border: 2px solid rgba(246, 241, 237, 0.5);
}
.price {
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: .05em;
  margin-bottom: 1.25rem;
  margin-top: 0;
  font-style: italic;
}
