.dropzone {
  border: none;
}
#my-dropzone .dz-message {
  display: none;
}
#card-large-picture-form {
  background-color: white;
}
#dropzonePreview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.message-container {
  width: 80%;
  height: 80%;
  border: 1px dashed $b-bg-grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dropzone .dz-preview .dz-image {
  width: auto;
  height: auto;
  border-radius: 2px;
}
