// UTILITIES
.simple_form {
  text-align: center;
}

// USER FORMS
.user-form-container {
  display: flex;
  justify-content: space-around;
}
.user-form {
  background-color: $b-bg-grey-light;
  border-top: 4px solid $secondary-color;
  color: rgba(0,0,0,0.87);
  padding: 5em 5em;
  h2 {
    margin-bottom: 2em;
  }
  a {
    color: rgba(0,0,0,0.87);
  }
  .btn {
    width: 100%;
    height: 3rem;
  }
}

// DRESSING ITEM FORMS
#add-item-container {
  border-top: 4px solid $secondary-color;
  flex: 0 0 60%;
  display: flex;
  justify-content: space-around;
  padding: 3.125rem;
  margin-bottom: 6.25em;
  @media (max-width: $small-screen) {
    width: 100%;
  }
}
#new-dressing-item-form {
  h2 {
    color: rgba(0,0,0,0.87);
  }
}
#form-step2, #form-step3 {
  display: none;
}
#steps-indicator {
  margin-bottom: 3.125em;
  display: flex;
  justify-content: space-around;
}
#form-step-indicator-reference {
  flex: 0 0 60%;
  height: 10px;
  background-color: $b-bg-grey-light;
  border-radius: 5px;
  transition: width 1s ease-in-out;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#form-step-indicator {
  height: 10px;
  background-color: $secondary-color;
  transition: width 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}
#form-step-indicator.form-step1 {
  width: 0%;
}
#form-step-indicator.form-step2 {
  width: 50%;
}
#form-step-indicator.form-step3 {
  width: 100%;
}
.bubble {
  padding: 0.75em 1em;
  font-size: 1.25em;
  line-height: 1em;
  border-radius: 50px;
  background-color: $b-bg-grey-light;
  z-index: 100;
  position: absolute;
  bottom: -15px;
  transition: background-color 1.5s ease-in-out;
}
.bubble.form-step1 {
  left: 0;
}
.bubble.form-step2 {
  left: 47%;
}
.bubble.form-step3 {
  right: 0;
}
.bubble.active {
  background-color: $secondary-color;
}
// STEP2 : DETAILS
#form-step2 .flexbox div {
  flex: 0 0 48%;
  .dressing_item_description {
    height: 100%;
    margin-top: 0;
  }
}
#form-step2 .flexbox div.input-field {
  margin: 0;
  flex: 0 0 auto;
  input {
    margin: 0;
  }
}
#form-details-container {
  height: 12rem;
  margin-bottom: 3.125em;
}
#dressing_item_description {
  height: 100%;
  margin-bottom: 0;
}

// STEP3 : PHOTOS
#dressing_item_photos {
  display: none;
}
input.filename {
  border: none !important;
}


// Ecraser les variables de materialize qui ne sont pas accessibles via les variables sass
input.string, input.password, input.email, input.url, input.number, input.select-dropdown, input.numeric {
  background-color: $b-bg-grey;
  padding: 0 2rem !important;
  box-sizing: inherit;
  border-bottom: none !important;
  color: rgba(0,0,0,0.87) !important;
  &:focus {
    border-bottom: none !important;
    box-shadow: none !important;
  }
}
textarea.materialize-textarea {
  padding: 1rem 2rem !important;
  line-height: 1rem;
  background-color: $b-bg-grey;
  box-sizing: inherit;
  border-bottom: none !important;
  color: rgba(0,0,0,0.87) !important;
  &:focus {
    border-bottom: none !important;
    box-shadow: none !important;
  }
}
// SELECT DROPDOWN
.select-wrapper input.select-dropdown {
  background-color: $b-bg-grey;
}
.select-wrapper span.caret {
  z-index: 100;
  color: $secondary-color;
  right: 15px;
}
.select-placeholder {
  color: rgba(0,0,0,0.54);
}

// RADIO BUTTONS GENDER
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  padding-left: 0;
  height: 100%;
}
[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
  display: none;
}
[type="radio"]:checked + label:after, [type="radio"]:checked + label:before {
  display: none;
}
[type="radio"]:not(:checked) + label img {
  height: 80px;
}
[type="radio"]:checked + label img {
  height: 80px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}


input::placeholder {
  color: rgba(0,0,0,0.54) !important;
}
textarea::placeholder {
  color: rgba(0,0,0,0.54) !important;
}
//
label.optional, label.required {
  display: none !important;
}
input.btn {
  margin-top: 2em;
}
form .input-field {
  width: 100%;
}
input[type=password] {
  padding: 0 2rem;
  box-sizing: inherit;
}

.signing-links {
  margin-top: 2em;
}
