// user forms : log in / register
.user-form-container {
  display: flex;
  justify-content: space-around;
}
.user-form {
  background-color: $b-bg-grey-light;
  border-top: 4px solid $secondary-color;
  color: rgba(0,0,0,0.87);
  padding: 5em 5em;
  h2 {
    margin-bottom: 2em;
  }
  a {
    color: rgba(0,0,0,0.87);
  }
  .btn {
    width: 100%;
    height: 3rem;
  }
}

.simple_form {
  text-align: center;
}
.form-container {
  background-color: transparent;
  border: 1px solid $b-blue-dark;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.form-header-container {
  background-color: $b-blue-dark;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 1.4rem;
}
.form-header-title {
  color: #fff;
  text-transform: uppercase;
}
.form-content-container {
  padding: 2rem 3rem;
}

// Ecraser les variables de materialize qui ne sont pas accessibles via les variables sass
input.string, input.password, input.email, input.url, input.number, textarea.materialize-textarea, input.select-dropdown, input.numeric {
  background-color: $b-bg-grey;
  padding: 0 2rem !important;
  box-sizing: inherit;
  border-bottom: none !important;
  color: rgba(0,0,0,0.87) !important;
  &:focus {
    border-bottom: none !important;
    box-shadow: none !important;
  }
}
input::placeholder {
  color: rgba(0,0,0,0.54) !important;
}
//
label.optional, label.required {
  display: none !important;
}
input.btn {
  margin-top: 2em;
}
form .input-field {
  width: 100%;
}
input[type=password] {
  padding: 0 2rem;
  box-sizing: inherit;
}

// vide-dressing-forms
// à gauche
.card-form-infos {
  padding: 2rem 4rem;
}
//  à droite
.add-card-picture {
  background-color: white;
}
#add-card-picture-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  i {
    font-size: 4rem;
    cursor: pointer;
  }
}
#vide_dressing_photo {
  //display: none;
}
.flex-form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 6.25rem;
}
