.small-icon {
  height: 35px;
}
.add-to-cart-icon {
  display: inline-block;
  .fa-heart {
    display: none;
  }
}
.add-to-cart-icon:hover {
  .fa-heart {
    display: block;
  }
  .fa-heart-o {
    display: none;
  }
}
.add-to-cart-icon.active {
  .fa-heart {
    display: block;
  }
  .fa-heart-o {
    display: none;
  }
}
.accept-icon, .reject-icon {
  border: 1px solid $b-text;
  border-radius: 50%;
  margin-right: 0.75rem;
  padding: 1rem;
  color: $b-text-light;
  &:hover {
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}
