#loans-navigation {
  margin-bottom: 1em;
  background-color: white;
  .loans-nav-tabs {
    background: white;
  }
}
.loan-item-card-infos {
  flex: 0 0 80% !important;
}
#modal-add-loan .modal-content {
  position: relative;
}
.close-modal {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  .fa {
    color: $b-text-lighter;
    font-size: 2em;
  }
}
