#missing-items-form {
  margin-top: 2rem;
  .outfit_missing_items.check_boxes {
    display: flex;
    flex-wrap: wrap;
    .checkbox {
      margin-right: 50px;
    }
  }
}
#missing-items-display {
  margin-top: 2rem;
}

.proposal-form {
  margin-top: 2rem;
  .check_boxes {
    display: flex;
    flex-wrap: wrap;
    .checkbox {
      margin-right: 50px;
    }
  }
}
