.cart-list {
  flex: 0 0 60%;
}
.cart-recap {
  flex: 0 0 35%;
  h4 {
    margin: 0;
  }
}
.cart-item-card-picture {
  flex: 0 0 20%;
}
.cart-item-card-infos {
  flex: 0 0 70%;
}
.cart-icons {
  .fa {
    font-size: 1.2em;
  }
  a {
    margin-right: 0.5em;
  }
}
