#upvotes-counter-container {
  .fa {
    font-size: 30px;
    line-height: 30px;
    color: $b-blue-dark;
    display: inline-block;
    &:hover {
      color: $b-red;
    }
    &.active {
      color: $b-red;
    }
  }
  #upvotes-counter {
    display: inline-block;
    margin-top: 1rem;
    &.active {
      color: $b-red;
    }
  }
}
