.user-profile {
  padding-top: 6rem;
  @media (max-width: 375px) {
    padding: 4rem 2rem 0 2rem;
  }
  .user-picture {
    img {
      height: 85px;
    }
  }
}
.user-outfits {
  padding-top: 6rem;
  @media (max-width: 375px) {
    padding: 4rem 2rem 0 2rem;
  }
}

.user-friends {
  margin-top: 4rem;
  @media (max-width: 375px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  img {
    height: 85px;
  }
}
