#vide-dressing-elements-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vide-dressing-item-card {
  flex: 0 0 22%;
  height: 200px;
  width: 100%;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#vide-dressings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vide-dressing-card {
  flex: 0 0 30%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
  color: white;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: white;
}
.add-item-card {
  background-color: $b-blue-light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  i {
    font-size: 3rem;
  }
}
