<div class="main-body">
  <div class="page-title bg-grey">
    <div class="container">
      <h1>Dressing <%= @user.email %></h1>
    </div>
  </div>
  <div class="container">
    <% @user_dressing.each do |item| %>
      <%= item.name %>
      <% unless item.photos.size == 0 %>
        <%= cl_image_tag item.photos[0].path, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% end %>
  </div>
</div>
