<div class="main-body">
  <div class="bg-grey">
    <div class="container last-container">
      <div id="filtering">

      </div>
      <div id="all-products-container" class="flexbox center">
        <% unless DressingItem.all.size == 0 %>
          <% DressingItem.all.each do |item| %>
            <% pictures = JSON.parse(item.pictures_urls) %>
            <% if pictures.size == 0 %>
              <% picture = "dress_icon_sfq079.png" %>
            <% else %>
              <% picture = pictures[0] %>
            <% end %>
            <div class="dressing-item-container">
              <div class="dressing-item-card" style="background-image: url(<%= cl_image_path item.photos[0], width: 200, height: 280, crop: :fill; %>);">
                <%= link_to "", dressing_item_path(item), class: "card-link" %>
                <div class="vide-dressing-item-card-icon">
                  <i class="material-icons">favorite_border</i>
                </div>
              </div>
              <h2><%= item.name %></h2>
              <% if item.price == 0 %>
                <p class="card-price">gratuit</p>
              <% else %>
                <p class="card-price"><%= item.price %> €</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
