<div class="main-body">
  <div class="container">
    <%= simple_form_for(@dressing_item) do |f| %>
      <%= f.input :name %>
      <%= f.input :photos, as: :attachinary, :input_html => {:accept => "image/*", :capture => "capture"} %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
